@{
    Layout="~/areas/bwum/views/shared/_indexlayout.cshtml";
}
<div style="font-size:14px;font-family:'Segoe UI'">
    <span>
        Sorry,This Request  URL Was Not Found。So You Can Click <a href="#/">Here</a>Back To Home Page!
    </span>
    <code>
        可能出现的错误：ID不存在。URL错误。（wesen@gbbweb.cn）
    </code>
</div>