html,body,div,ul,ol,li,p,table,tr,td,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,a,span,textarea{margin: 0;padding:0;font-family:'Microsoft YaHei'}
li{list-style: none;}
img{border:none;}
a{text-decoration: none;cursor:pointer}
a:visited{}
input[type=submit],input[type=button]{cursor:pointer}
#tips-wrap{font-size:12px;}
.page-wrap{font-size:12px;padding:15px 0;}
.page-wrap span{margin-right:20px;}
.page-wrap a{display:inline-block;border:1px solid #E8E9EB;background:#fff;color:#7E8894;display:inline-block;height:20px;width:20px;line-height:20px;border-radius:50%;text-align:center;margin-right:5px;}
.page-wrap a:hover,a.current{background:#4DACF0;border:1px solid #4DACF0;color:#fff;}
.pressed{color:#259 !important}
.clear-padding{padding:0 !important;}
a.more{border-radius:5px;color:#666;display:block;padding:3px 0;width:100%;font-size:14px;background:#F1F1F2 -moz-linear-gradient(center top , #F8F8F9, #E6E6E8) repeat-x scroll 0% 0%;border:1px solid #bbb;text-align:center;}
a.btn-join{background:#007ada;color:#fff;padding:8px 20px;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #fff; } 
input:-moz-placeholder, textarea:-moz-placeholder { color: #fff; } 
input::-moz-placeholder, textarea::-moz-placeholder { color: #fff; } 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #fff; } 
.fleft .page-wrap{margin-left:40px;}
#editor{margin-left:3px;}
/*icons*/  
@font-face {font-family: 'font';src: url('../fonts/font.eot');src: url('../fonts/font.eot?#iefix') format('embedded-opentype'),url('../fonts/font.woff') format('woff'), url('../fonts/font.ttf') format('truetype'), url('../fonts/font.svg#iconfont') format('svg'); }
@font-face {font-family: 'iconfont';src: url('../fonts/iconfont.eot');src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg'); }
[class^="icon-"],[class*=" icon-"],[class^="icon1-"],[class*=" icon1-"]{font-size:16px;font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;}
[class^="icon-"],[class*=" icon-"]{font-family:"font";}
[class^="icon1-"],[class*=" icon1-"]{font-family:"iconfont";}
.icon-bwds:before { content: "\e600";}
.icon-sub:before { content: "\e601";}
.icon-sina:before { content: "\e605";}
.icon-weixin:before { content: "\e604";}
.icon-rss:before { content: "\e603";}
.icon-tit:before { content: "\e607";}
.icon-item:before { content: "\e606";}
.icon-fav:before { content: "\f0290";}
.icon-search:before { content: "\e602";}
.icon-about:before { content: "";}
.icon-link:before { content: "";}
.icon-weekhot:before { content: "\e608";}
.icon-dot:before { content: "\e609";}

.icon1-xin:before { content: "\e600"; }
.icon1-duihua:before { content: "\e601"; }
.icon1-tuijian:before { content: "\e602"; }
.icon1-sousuo:before { content: "\e603"; }
.icon1-fenxiang:before { content: "\e604"; }
.icon1-chexiao:before { content: "\e605"; }
.icon1-zanyang:before { content: "\e606"; }
.icon1-piping:before { content: "\e607"; }
.icon1-xinxi:before { content: "\e608"; }
.icon1-bangzhu:before { content: "\e609"; }
.icon1-shoucang:before { content: "\e60a"; }
.icon1-xiai:before { content: "\e60b"; }
.icon1-cuowu:before { content: "\e60c"; }
.icon1-zhengque:before { content: "\e60d"; }
.icon1-fujian:before { content: "\e60e"; }
.icon1-fasongyoujian:before { content: "\e60f"; }
.icon1-xiangshang:before { content: "\e610"; }
.icon1-xiangxia:before { content: "\e611"; }
.icon1-xinlangweibo:before { content: "\e612"; }
.icon1-tengxunweibo:before { content: "\e613"; }
.icon1-qq:before { content: "\e614"; }
.icon1-anzhuo:before { content: "\e615"; }
.icon1-ditu:before { content: "\e616"; }
.icon1-dianhua:before { content: "\e617"; }
.icon1-weiruan:before { content: "\e618"; }
.icon1-pingguo:before { content: "\e619"; }
.icon1-youzhi:before { content: "\e61a"; }
.icon1-jine:before { content: "\e61b"; }
.icon1-xiangxia1:before { content: "\e61c"; }
.icon1-xiangshang1:before { content: "\e61d"; }
.icon1-re:before { content: "\e61e"; }
.icon1-xin2:before { content: "\e61f"; }
.icon1-re2:before { content: "\e620"; }
.icon1-liulan:before { content: "\e622"; }
.icon1-chakan:before { content: "\e621"; }
.icon1-paixu:before { content: "\e623"; }
.icon1-xiazai:before { content: "\e624"; }
.icon1-yonghu:before { content: "\e627"; }
.icon1-mima:before { content: "\e625"; }
.icon1-ppt:before { content: "\e626"; }
.icon1-pdf:before { content: "\e628"; }
.icon1-word:before { content: "\e629"; }
.icon1-excel:before { content: "\e62a"; }
.icon1-snssharedoubanon:before { content: "\e62b"; }
.icon1-snsshareqq:before { content: "\e62c"; }
.icon1-snsshareqzon:before { content: "\e62d"; }
.icon1-snssharerenrenon:before { content: "\e62e"; }
.icon1-snsshareweiboon:before { content: "\e62f"; }
.unread {font-weight:bold;}
.fleft{float: left;}
.fright{float:right;}
.container{width:1020px;margin:0 auto;overflow:hidden}
.container-left{width:685px;}
.btn-register{border-radius:2px;border:1px solid #ec725e;font-size:12px; color:#ec725e;padding:10px 25px;}
.btn-sub {border:none;background:#007ada;font-size: 12px;padding:5px 10px;color:#fff;}
#header{background: #2a2a2a;height:40px;color:#fff;line-height:40px;overflow:hidden}
#header a{color: #fff;font-size: 14px;}
.header-left a{margin-right: 8px;}
.login-wrap {overflow:hidden}
.login-wrap a{padding:0px 18px;font-size: 14px;display: inline-block;height:40px;}
.login-wrap span{border-left:1px solid #212121;border-right:1px solid #212121;display: inline-block;height:40px;}
.login-wrap span a{font-size: 25px !important;}
#navigation{background:#007ada;height: 72px;line-height: 72px;clear: both;}
.logo-wrap{height: 72px;width: 210px;margin-right: 35px;}
.logo-wrap a{display:block;height: 72px;}
.logo-wrap a img{vertical-align: middle;height:45px;margin-top:14px\9;margin-top:0px\9\0;}
.navigation-wrap{overflow: hidden}
.navigation-wrap ul li{float:left}
.navigation-wrap ul li a{color:#fff;padding: 5px 10px;}
.navigation-wrap ul li a:hover,.navigation-wrap ul li a.current{background: #fff;color:#007ada;border:none}
.navigation-wrap ul li a.nav-selected{background: #fff;color:#007ada}
.search-wrap{width:240px;float:right;background:rgba(0, 116, 208, 1);height:35px;line-height:35px;margin-top:21px;border-radius:5px;border:1px solid #259}
.search-wrap input[type=text]{border:none;color:#fff;height:35px;line-height:35px;width:180px;padding:0px 10px;background:rgba(0, 116, 208, 1);float:left;}
.search-wrap input[type=submit]{border:none;}
.search-wrap a{font-size:20px;margin-right:8px;color:#fff;}
#main{margin-top:10px;overflow: hidden;}
.container-right{width: 310px;}
.activity-wrap,.faqs-wrap{margin-top:25px;}
.activity-wrap .module-list{border-bottom: none;}
.activity-right-banner{margin:20px 0;}
.activity-right-banner img{width:310px;}
.activity-right-history>ul{font-size:14px}
.activity-right-history>ul li{margin:10px 0;}
.activity-history-item-title a{color:#259;line-height:24px;font-weight:400;}
.activity-history-item-title a:hover{}
.activity-history-item-date,.activity-history-item-add{font-size:12px;}

.faqs-wrap .module-list ul li a:before{margin-right:5px;content:"";border:2px solid #4bacf0;display: inline-block;width:2px;height: 2px;vertical-align: middle}
.login-wrap-m{background: #e6eaed;padding:15px 0;}
.login-wrap-m input[type="text"]{margin-left:35px;border:none;height: 30px;padding:3px;width:200px;margin-top:5px;}
.login-wrap-m input[type="submit"]{margin-left:35px;margin-right:10px;background:#007ada;color:#fff;border:none;font-size:12px;padding:10px 24px;border-radius:2px;}
.login-wrap-m p{margin:10px 0;}
.login-wrap-m label{font-size: 14px;color:#333;margin-left:3px;}
.forget-pwd{font-size: 12px;color:#1660bb;margin-left: 10px;}
#remember{margin-left:35px;}
#footer{background: #f1f1f1;height:200px;border-top:1px solid #c9c9c9;box-shadow:0px 1px 3px #c9c9c9 inset;overflow: hidden;clear:both}
.footer-wrap{overflow:hidden;margin-top:35px;}
.footer-wrap h3{font-size:15px;color:#333;}
.footer-wrap ul li{line-height:30px;}
.footer-wrap ul li a{font-size:13px;color:#666;}
.footer-follow{width:240px;}
.footer-links{width:260px;}
.footer-site{width:200px;}
.footer-follow ul li{margin:5px 0;}
.footer-follow ul li a{font-size:24px;color:#999}
.footer-follow ul li a span{font-size:13px;margin-left:5px;}
.footer-client {width:300px;}
.footer-client ul li a{font-size:18px;color:#999}
.footer-client ul li a span{font-size:13px;margin-left:5px;}
.footer-copy{font-size:12px;color:#666;text-align:center; clear:both;margin-top:25px;}
.module{margin-bottom: 10px;}
.module-title{border-bottom:2px solid #4bacf0;padding:5px 0;}
.module-title i{color:#4bacf0;}
.module-title a{color:#5e5e60;font-size: 16px;}
.module-list{margin-top:15px;border-bottom: 1px dotted #e2e2e3;padding-bottom: 5px;}
.module-list>a{padding:4px 15px;border:1px solid #bcd7ff;color:#0096ff;border-radius: 5px;display: inline-block;font-size: 12px;margin:5px;}
.module-list>ul>li {padding:7px 0;}
.module-list>ul>li a{font-size: 14px;color:#333;}
.module-list>ul>li p span{color:#999a9f;font-size: 12px;}
.module-list-border ul li{border-bottom: 1px solid #e8e9eb}
.module-list-border ul li a{height: 35px;border-left:4px solid #45abf3;margin:2px 0;display: block;padding-left: 5px;}
.module-list-border ul li.no-border{border:none;}
.module-list-border ul li.no-border a{border:none;height:auto;padding-left:0;}
.login-box{ width:530px; border:1px #DDD solid; padding:10px 20px 30px 20px; float:right; overflow:hidden;margin:70px 0;}
.login-box p{ height:30px; line-height:30px; padding-top:20px;}
.login-box b{ font-weight:normal; width:120px; padding-right:5px; text-align:right; font-size:14px; color:#666; float:left;}
.login-box span{ padding-left:10px; color:#999; font-size:12px;}
.login-box a{ color:#4dacf0; text-decoration:none;font-size: 12px;padding-left:10px; }
.login-box a:hover{ text-decoration:underline;}
.input-text{ border-top:1px solid #cecece; border-right:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7; border-left:1px solid #cecece; border-radius:3px; box-shadow: 0px 1px 3px rgba(20, 20, 20, 0.1) inset; font-size:14px; color:#666; background:#fff; width:210px; height:32px; padding:0 4px; line-height:32px; }
.input-vcode{border-top:1px solid #cecece; border-right:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7; border-left:1px solid #cecece; border-radius:3px; box-shadow: 0px 1px 3px rgba(20, 20, 20, 0.1) inset; font-size:14px; color:#666; background:#fff; width:150px; height:32px; padding:0 4px; line-height:32px; }
.login-btn{padding-left:125px}
.login-btn #remember{margin-left: 0px}
.login-btn input[type="submit"]{}
.login-btn a{font-size:18px;color:#999}
.third-login-icon{background:url(../images/thirdLoginIcon.png) no-repeat;display:inline-block;width:16px;height:16px;padding-left:0 !important;margin-left:5px;vertical-align:middle}
.third-icon-qq{background-position:-2px -2px}
.third-icon-weibo{background-position:-22px -2px}
#banner-wrap{overflow:hidden;height:340px;margin-bottom:10px;}
.upload-wrap{margin-left:40px;}
/*home page*/
.menu-tab {width:100%;font-size:14px;border-bottom:1px solid #ddd;padding:0;background:#fafafa}
.menu-tab span.current{background:#007ada;color:#fff;padding:0px 8px;}
.menu-tab span{cursor:pointer;height:44px;line-height:44px;display:inline-block;padding:0px 8px;}
.menu-tab span:hover{background:#007ada;color:#fff;padding:0px 8px;}
.menu-tab span:active{background:#0175BE;}
.menu-tab a{float:right;font-size:14px;color:#fff;cursor:pointer;background:#007ada;padding:0 20px;height:44px;line-height:44px;display:inline-block;}



.gather-wrap{margin:15px 0 40px 0;}
.gather-wrap ul{margin-bottom:15px;}
.gather-wrap ul li{margin:10px 0;font-size:13px;border-bottom:1px solid #eee;padding:8px 0;}

.input-box p.input-box-hl {height:50px;line-height:50px;margin-bottom:10px;}
.input-box p.input-box-ha,.input-box div.input-box-ha{height:auto;}
.input-box div.input-box-ha {margin-top:20px}
.input-box div.input-box-ha .cke_chrome{margin-left:47px}
.input-box p{ height:30px; line-height:30px; padding-top:20px;}
.input-box b{ font-weight:normal; width:120px; padding-right:5px; text-align:right; font-size:14px; color:#666; float:left;}
.input-textarea { border-top:1px solid #cecece; border-right:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7; border-left:1px solid #cecece; border-radius:3px; box-shadow: 0px 1px 3px rgba(20, 20, 20, 0.1) inset; font-size:14px; color:#666; background:#fff; width:500px; height:32px; padding:0 4px; line-height:32px;height:70px;}
.avatar-wrap{position:relative;width:150px;}
.avatar-wrap>img{width:150px;height:150px;}
.avatar-wrap>a{position:absolute;right:0;bottom:5px;background:red;font-size:12px;padding:3px 5px;color:#fff;}

.activity-item-title img{width:310px;}
.module-list .activity-item-title{display:none;}
.module-list ul li:first-child .activity-item-title{display:block;}
/*question page*/
.question-wrap{font-size:13px;margin-bottom:70px;overflow:hidden}
.question-wrap-title{margin-top:25px;}
.question-wrap ul li{clear:both;padding:10px 0;border-bottom:1px solid #eee}
.cover-wrap img{width:45px;}
.cover-wrap span{display:block;}
.q-detail-top,.q-detail-top a{color:#999;overflow:hidden}
.q-detail-top{margin-top:3px;}
.q-detail-top a.tag-show{background:#4aabf0;color:#fff;padding:2px 4px;border-radius:6px;margin-right:4px;}
.q-detail-top a{margin-right:20px;}
.q-detail-top .fleft a{clear:both;}
.question-detail{margin-left:55px;}
.question-detail h3{line-height:25px;overflow:hidden}
.question-detail h3 a{color:#259;}
.question-detail h3 a:hover{text-decoration:underline; transition:text-decoration 1s;-webkit-transition:text-decoration 1s;}
.question-share{margin:15px 0;font-size:16px;}
.q-detail-desc{color:#222;}
.q-detail-tag{padding:3px 0;}
.q-detail-tag a{background:#EFF6FA;color:#259;padding:3px 7px;font-size:12px;border-radius:10px;margin:0 5px;}
/*question show page*/
.article-title h2{font-weight:400;line-height:40px;font-size:30px;}
.article-title-info{font-size:14px;margin:10px 0px;}
.article-title-info a{color:#007ada;margin-left:15px;}
.article-title-info a:hover{ color:#259;transition:color 1s;-webkit-transition:color 1s;-moz-transition:color 1s}
.article-title-tags {margin-bottom:15px;font-size:13px;}
.article-title-tags a{color:#fff;background:#007ada;padding:2px 4px;border-radius:3px;}
.article-desc{color:#333;}
.article-desc img{width:100% !important}
.question-show{margin-top:20px;}
.question-user{margin-top:20px;}
.question-user img {width:300px;}
.question-user-info a{color:#737F8B;font-size:14px;}
.user-intro{font-size:12px;color:#88888a;}
.user-related  .module-title{font-size:14px;}
.btns-wrap{margin:15px 0;text-align:right;}
.comment-wrap{margin-top:15px;}
.comment-editor{margin:30px 0;}
.comment-editor #editor{width:685px;height:244px;}
.comment-sort{position:absolute;right:9px;overflow:hidden;background:#fff;height:14px;width:80px;text-align:center;z-index:2;}
.comment-sort:hover{border:1px solid #eee;width:78px;overflow:visible;height:auto;border-radius:3px;padding:2px 0;}
.comment-sort span,.answers-sort a{display:block;}
.comment-sort a:visited{color:#333}
.comment-title{border:1px solid #eee;border-left:none;border-right:none;font-size:12px;padding:15px 0;margin:5px 0;position:relative;height:14px;}
.comment-item{font-size:13px;clear:both;padding:10px 0;border-bottom:1px solid #eee;overflow:hidden}
.comment-item-info{overflow:hidden;height:30px;}
.comment-item-info a{line-height:30px;}
.comment-item-info-avatar {float:right;width:30px;}
.comment-item-info-avatar img{width:30px;height:30px;}
a.comment-item-info-name{font-weight:bold;color:#111;float:left;}
a.comment-item-info-name:visited{color:#111;}
.comment-item-meta{color:#999;line-height:30px;font-size:12px;}
.comment-item-content{color:#222;clear:both;padding:8px 0;}
.comment-item-vote{font-size:13px;padding-left:25px;height:30px;}
.comment-item-vote a{display:inline-block;color:#999;text-align:center;font-size:14px;margin-right:7px;}
.comment-item-vote a span{font-size:12px;}
/*activity*/
#hot-activity {margin:20px 0;overflow:hidden;height:180px;}
#hot-activity ul li img{height:180px;width:100%;}
.activity-wrap-list li{clear:both;padding:20px 0;border-bottom:1px solid #eaeaea;height:120px;}
.activity-cover img{height:120px;width:221px;}
.activity-info{font-size:13px;color:#222;width:450px;}
.activity-info p{line-height:20px}
.activity-info h4{font-size:15px;margin-bottom:10px;}
.activity-info h4 a{color:#259;}
.activity-info h4 a:visited{color:#259;}
.activity-join-btn{line-height:35px;}
.activity-title{font-size:13px;overflow:hidden;margin:25px 0;}
.activity-title h4 a{color:#259;font-size:15px;}
.activity-title h4 a:visited{color:#259;}
.activity-title h4{margin-bottom:20px; }
.activity-title img{width:350px;height:190px;}
.activity-detail p{line-height:22px;}
.activity-detail{width:310px;}
.activity-context{margin-bottom:20px;clear:both;border:1px solid #eaeaea;border-left:none;border-right:none;padding:20px 0;}
/*feedback-box*/
.feedback-box{margin-bottom:300px;}
.crumbs-wrap{font-size:14px;padding-top:25px;border-bottom:1px solid #eaeaea;line-height:24px;margin-bottom:10px;}
.crumbs-wrap a{color:#259;font-weight:600}
.feedback-wrap{margin:25px 0;}
.feedback-wrap p{margin:15px 0;}
.feedback-wrap b{font-size:14px;display:block;}
.feedback-wrap .input-textarea{width:80%;height:200px;}
.scroll-wrap{position:fixed;right:20px;bottom:100px;}
.scroll-wrap a{display:block;width:40px;height:40px;background:#007ada;color:#fff;font-size:24px;text-align:center;margin-bottom:3px;line-height:40px;position:relative;}
.scroll-wrap a span{color:#fff;background:#259;font-size:14px;position:absolute;left:0;display:block;width:40px;height:40px;top:0;line-height:18px;}
/*join*/
.join-wrap{margin:25px 0 70px;}
.join-wrap h3{font-weight:400}
.join-wrap p{line-height:35px;font-size:12px;margin:15px 0;}
.input-middle{width:400px;}
.input-long{width:600px;}
.error-status{color:red !important;}

.dsk-upload-bwrap{clear:both;padding-top:30px;overflow:hidden;}
.dsk-upload-bwrap b{display:block;}
.dsk-upload-bwrap #upload{float:left;}
.dsk-upload-wrap{float:left;}
.file-del{background:#007ada;color:#fff;font-size:14px;display:inline-block;width:50px;height:28px;line-height:28px;margin-left:15px;text-align:center;}

.explain-wrap{background:#f7f7f7;border:1px dotted #cecece;padding:10px;margin-top:50px;}
.explain-wrap h3{font-size:13px;font-weight:normal;}

.member-menu-right{margin-top:30px;padding-left:15px;}

.discuss-list-title{height:44px;line-height:44px;width:100%;font-size:14px;border-bottom:1px solid #ddd;padding:0;background:#fafafa}
.discuss-list-title a{display:inline-block;width:80px;height:44px;text-align:center;line-height:44px;margin-right:1px;color:#333;}
.discuss-list-title a:hover ,.discuss-list-title a.selected{background:#007ada;color:#fff;}
.discuss-list-title span{float:right;font-size:14px;color:#fff;cursor:pointer;background:#007ada;padding:0 20px}
.discuss-list-title span:active{background:#0175BE;}
.discuss-list-topic{padding:10px 0;border-bottom:1px dotted #d2d2d2;width:670px;}
.discuss-list-topic-avatar{float:left;width:40px;height:40px;overflow:hidden}
.discuss-list-topic-avatar img{width:40px;}
.discuss-list-topic-titles{margin-left:50px;}
.discuss-list-type{margin-top:15px;padding:15px;}
.discuss-list-type h3 a{font-size:17px;font-weight:400;color:#333}
.discuss-list-type p{font-size:13px;}
.tb-topic{background:url(../Images/icon-topic.jpg)no-repeat 0 0;display:inline-block;vertical-align:middle;margin-right:4px;}
.tb-topic-topic{width:16px;height:16px;background-position:0 0}
.tb-topic-task{width:16px;height:16px;background-position:-36px 0}
.tb-topic-activity{width:16px;height:16px;background-position:-18px 0}
.topic-title a{color:#336699;font-size:14px;}
.topic-info{margin:3px 0;}
.topic-info,  .topic-info a{color:#a0a0a0;font-size:12px;}
.topic-info span{margin-left:15px;}
.topic-info span i{font-size:15px;margin-right:2px;}
.coming-soon{width:100%}
.coming-soon img{width:100%;}
span.message-del-btn,a.edit-again{background:#007ADA;color:#fff;padding:4px 7px;cursor:pointer;margin-left:30px;border-radius:3px;color:#fff;}

.level-pt,.level-rz,.level-bw{background:url(../images/level-s.png) no-repeat 0 0;display:inline-block;vertical-align:bottom;cursor:pointer}
.level-pt{width:21px;height:21px;background-position:-6px 0}
.level-rz{width:21px;height:21px;background-position:-32px 0}
.level-bw{width:21px;height:21px;background-position:-58px 0}
.module-btn-wrap{border:none;margin-bottom:15px;}
.module-btn-wrap a{background:#1b91ee;display:inline-block;width:100%;height:50px;color:#fff;font-size:18px;line-height:50px;border-radius:5px;text-align:center}
.module-btn-wrap a .icon1-bangzhu{font-size:21px;color:#fff;margin-right:15px;}
.title-tags{margin-top:33px;margin-bottom:20px;}
.title-tags a{font-size:15px;color:#fff;background:#007ada;padding:5px 10px;border-radius:5px;}
.sns-share a{font-size:15px;font-family:'iconfont';font-size:20px;color:#333;background:#fff;}
.icon1-snssharedoubanon:hover{color:#349743}
.icon1-snssharerenrenon:hover{color:#227EC7}
.icon1-snsshareweiboon:hover{color:#E6162D;}
.icon1-snsshareqzon:hover{color:#FFC028}
.icon1-snsshareqq:hover{color:#0073AA}

.third-wrap{margin:150px 0;text-align:center;}
.third-wrap p{margin:5px 0}
.third-wrap img{box-shadow:2px 2px #eee;border-radius:2px;}