@{
    Layout = "~/views/shared/_layout.cshtml";
    ViewBag.Title = "电商圈-拉帮结派";
    ViewBag.CssAppend = "<link href=\"/content/css/discuss.css\" type=\"text/css\" rel=\"stylesheet\"/>";
    ViewBag.CssAppend += "<link href=\"/content/fonts/category.css\" type=\"text/css\" rel=\"stylesheet\"/>";
}
<div class="cli-banner">

</div>

<div class="container">
    <div class="container-left fleft">
        <div class="cli-activity">
            <div class="cli-title">
                <div class="fleft">
                    <strong>活动</strong>
                    <a href="#">热门</a>
                    <a href="#">同城</a>
                    <a href="#">进行中</a>
                    <a href="#">已过期</a>
                </div>
                <a href="#" title="查看更多" class="fright">更多</a>
            </div>
            <ul>
                <li>
                    <div class="cli-ac-item-cover">
                        <a href="#"><img src="~/Content/Images/no-img.jpg" /></a>
                    </div>
                    <div class="cli-ac-item-info">
                        <h3>双十一背后的数字</h3>
                        <p>时间:2015年11月20日</p>
                        <p>地址:南京国际服务外包大厦</p>
                    </div>
                </li>
                <li>
                    <div class="cli-ac-item-cover">
                        <a href="#"><img src="~/Content/Images/no-img.jpg" /></a>
                    </div>
                    <div class="cli-ac-item-info">
                        <h3>双十一背后的数字</h3>
                        <p>时间:2015年11月20日</p>
                        <p>地址:南京国际服务外包大厦</p>
                    </div>
                </li>
                <li>
                    <div class="cli-ac-item-cover">
                        <a href="#"><img src="~/Content/Images/no-img.jpg" /></a>
                    </div>
                    <div class="cli-ac-item-info">
                        <h3>双十一背后的数字</h3>
                        <p>时间:2015年11月20日</p>
                        <p>地址:南京国际服务外包大厦</p>
                    </div>
                </li>
                <li>
                    <div class="cli-ac-item-cover">
                        <a href="#"><img src="~/Content/Images/no-img.jpg" /></a>
                    </div>
                    <div class="cli-ac-item-info">
                        <h3>双十一背后的数字</h3>
                        <p>时间:2015年11月20日</p>
                        <p>地址:南京国际服务外包大厦</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cli-c-banner">
            <img src="~/Content/Images/b-2.jpg" alt=""/>
        </div>
        <div class="cli-task">
            <div class="cli-title">
                <div class="fleft">
                    <strong>任务</strong>
                    <span>目前点商圈共有210个任务</span>
                </div>
                <a href="#" title="查看更多" class="fright">更多</a>
            </div>
            <ul>
                <li>
                    <div class="cli-task-item-cover">
                        <a href="#"><img src="~/Content/Images/no-img.jpg" /></a>
                    </div>
                    <div class="cli-task-item-info">
                        <h3><a href="#">店铺被引入垃圾流量，该怎么处理？</a></h3>
                        <p>店铺被引入垃圾流量，拍下不付款，直接拉低了转化率，这样该怎么办？</p>
                        <p><span>2015-11-20</span></p>
                    </div>
                </li>
                <li>
                    <div class="cli-task-item-cover">
                        <a href="#"><img src="~/Content/Images/no-img.jpg" /></a>
                    </div>
                    <div class="cli-task-item-info">
                        <h3><a href="#">店铺被引入垃圾流量，该怎么处理？</a></h3>
                        <p>店铺被引入垃圾流量，拍下不付款，直接拉低了转化率，这样该怎么办？</p>
                        <p><span>2015-11-20</span></p>
                    </div>
                </li>
                <li>
                    <div class="cli-task-item-cover">
                        <a href="#"><img src="~/Content/Images/no-img.jpg" /></a>
                    </div>
                    <div class="cli-task-item-info">
                        <h3><a href="#">店铺被引入垃圾流量，该怎么处理？</a></h3>
                        <p>店铺被引入垃圾流量，拍下不付款，直接拉低了转化率，这样该怎么办？</p>
                        <p><span>2015-11-20</span></p>
                    </div>
                </li>
                <li>
                    <div class="cli-task-item-cover">
                        <a href="#"><img src="~/Content/Images/no-img.jpg" /></a>
                    </div>
                    <div class="cli-task-item-info">
                        <h3><a href="#">店铺被引入垃圾流量，该怎么处理？</a></h3>
                        <p>店铺被引入垃圾流量，拍下不付款，直接拉低了转化率，这样该怎么办？</p>
                        <p><span>2015-11-20</span></p>
                    </div>
                </li>
                <li>
                    <div class="cli-task-item-cover">
                        <a href="#"><img src="~/Content/Images/no-img.jpg" /></a>
                    </div>
                    <div class="cli-task-item-info">
                        <h3><a href="#">店铺被引入垃圾流量，该怎么处理？</a></h3>
                        <p>店铺被引入垃圾流量，拍下不付款，直接拉低了转化率，这样该怎么办？</p>
                        <p><span>2015-11-20</span></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-right fright">
        <div class="cli-btns">
            <a href="#" class="btn-org">发起活动</a>
            <a href="#" class="btn-blue">发布任务</a>
        </div>
        <div class="cli-task-list">
            <div class="cli-title">
                <strong>待解决任务</strong>
            </div>
            <ul>
                <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
            </ul>
        </div>
        <div class="cli-l-banner">
            <a href="#"><img src="~/Content/Images/b-1.jpg" /></a>
        </div>
    </div>
</div>
