@{
    Layout = "~/views/shared/_layout.cshtml";
    ViewBag.Title = "电商圈-";
    ViewBag.CssAppend = "<link href=\"/content/fonts/category.css\" type=\"text/css\" rel=\"stylesheet\"/>";
}
<style>
    .discuss-category {}
    .discuss-wrap{float:left;overflow:hidden;width:670px;}
    .discuss-title{font-size:14px;padding:10px 0;}
    .discuss-title i{background:url(/Content/Images/discuss.png);width:17px;height:15px;display:inline-block; margin-right:5px;margin-top:1px;}
    .discuss-title span{margin-right:28px}
    .discuss-category{overflow:hidden;margin:20px 0;}
    .discuss-category ul li{width:160px;float:left;margin:7px 0;padding-left: 6px;}
    .discuss-category ul li i{font-size:18px !important;margin-right:5px;color:#ff9000}
    .discuss-category ul li a{font-size:14px;}
    .function-wrap{width:270px;float:right;}
    .area-wrap{clear:both;overflow:hidden;margin:30px 0 20px 0;}
    .discuss-list-title{background:#f5f5f5;height:35px;line-height:35px;width:100%;}
    .discuss-list-title h3{font-weight:400;font-size:16px;margin:0px 18px;float:left;}
    .discuss-list-title a{float:right;font-size:12px;color:#007ada;margin-right:15px;}
    .discuss-list-topic{padding:10px 0;border-bottom:1px dotted #d2d2d2;width:670px;}
    .discuss-list-topic-avatar{float:left;width:40px;height:40px;overflow:hidden}
    .discuss-list-topic-avatar img{width:40px;}
    .discuss-list-topic-titles{margin-left:50px;}
    .topic-title a{color:#336699;font-size:14px;}
    .topic-info{margin:3px 0;}
    .topic-info,  .topic-info a{color:#a0a0a0;font-size:12px;}
    .topic-info span{margin-left:15px;}
    .topic-info span i{font-size:15px;margin-right:2px;}
    .area-title{position:relative;height:285px;margin-right:175px;float:left;}
    .area-title img{position:absolute;top:0;left:0;}
    .area-title h4{position:absolute;top:15px;left:0;color:#fff;background:#ff9000;font-weight:200;width:92px;padding-left:8px;height:40px;line-height:40px;}
    .area-title p{width:175px;height:50px;background:#ff9000;position:absolute;top:220px;text-align:center;color:#fff;font-size:14px;padding-top:15px;}
    .area-title p a{color:#fff;}
    .area-list-item{border:1px solid #e8e8e8;border-left:none;float:left;height:283px;width:274px;}
    .area-item-logo{float:left;margin-left:30px;margin-top:90px;margin-right:25px;}
    .area-item-info{margin-top:90px;}
    .area-item-info h3{font-size:24px;font-weight:400;}
    .area-item-info p{color:#918c8c;font-size:14px;line-height:30px;}
    .area-item-info a{color:#70aaf1;font-size:14px;}
</style>
<div id="main" class="container">
    <div class="discuss-wrap">
        <div class="discuss-title">
            <i></i><span>主题：18135</span><span>昨日：2291</span><span>今日：283</span>
        </div>
        <div class="discuss-category">
            <ul>
                @{
                    var categories=ViewBag.Categories as IEnumerable<BaWuClub.Web.Dal.TopicCategory>;
                       if(categories!=null){
                           foreach (var category in categories) {
                             <li>
                                <i class="font-category @category.Icon"></i><a>@category.Name (2)</a>
                            </li>
                           }
                        }
                }
            </ul>
        </div>
        <div class="discuss-list-wrap">
            <div class="discuss-list-title">
                <h3>最新热帖</h3><a href="#">查看更多 . . .</a>
            </div>
            <div class="discuss-list">
                <div class="discuss-list-topic">
                    <div class="discuss-list-topic-avatar">
                        <a href="#"><img src="~/Content/Images/no-img.jpg" alt="" /></a>
                    </div>
                    <div class="discuss-list-topic-titles">
                        <div class="topic-title"><a href="#">[咨询]蔡崇信亲自出马 阿里体育在下一盘什么棋</a></div>
                        <div class="topic-info">
                            <a href="#">布袋和尚</a>
                            <span class="discuss-list-topic-date">9小时前</span>
                            <span><i class="icon1-liulan"></i>280</span>
                            <span><i class="icon1-xiai" style="font-size:12px;"></i>2</span>
                        </div>
                    </div>
                </div>
                <div class="discuss-list-topic">
                    <div class="discuss-list-topic-avatar">
                        <a href="#"><img src="~/Content/Images/no-img.jpg" alt="" /></a>
                    </div>
                    <div class="discuss-list-topic-titles">
                        <div class="topic-title"><a href="#">[任务]想刷单，有可以帮我的么？</a></div>
                        <div class="topic-info">
                            <a href="#">布袋和尚</a>
                            <span class="discuss-list-topic-date">9小时前</span>
                            <span><i class="icon1-liulan"></i>280</span>
                            <span><i class="icon1-xiai" style="font-size:12px;"></i>2</span>
                        </div>
                    </div>
                </div>
                <div class="discuss-list-topic">
                    <div class="discuss-list-topic-avatar">
                        <a href="#"><img src="~/Content/Images/no-img.jpg" alt="" /></a>
                    </div>
                    <div class="discuss-list-topic-titles">
                        <div class="topic-title"><a href="#">[热帖]论双11打造爆款，木木老师给你揭秘如何打造爆款的秘密，另神秘嘉宾参加哦</a></div>
                        <div class="topic-info">
                            <a href="#">布袋和尚</a>
                            <span class="discuss-list-topic-date">9小时前</span>
                            <span><i class="icon1-liulan"></i>280</span>
                            <span><i class="icon1-xiai" style="font-size:12px;"></i>2</span>
                        </div>
                    </div>
                </div>
                <div class="discuss-list-topic">
                    <div class="discuss-list-topic-avatar">
                        <a href="#"><img src="~/Content/Images/no-img.jpg" alt="" /></a>
                    </div>
                    <div class="discuss-list-topic-titles">
                        <div class="topic-title"><a href="#">[活动]本周有小二的来分享干活，有谁来参加，赶快来报名吧。。。。。？</a></div>
                        <div class="topic-info">
                            <a href="#">布袋和尚</a>
                            <span class="discuss-list-topic-date">9小时前</span>
                            <span><i class="icon1-liulan"></i>280</span>
                            <span><i class="icon1-xiai" style="font-size:12px;"></i>2</span>
                        </div>
                    </div>
                </div>
                <div class="discuss-list-topic">
                    <div class="discuss-list-topic-avatar">
                        <a href="#"><img src="~/Content/Images/no-img.jpg" alt="" /></a>
                    </div>
                    <div class="discuss-list-topic-titles">
                        <div class="topic-title"><a href="#">[任务]想刷单，有可以帮我的么？</a></div>
                        <div class="topic-info">
                            <a href="#">布袋和尚</a>
                            <span class="discuss-list-topic-date">9小时前</span>
                            <span><i class="icon1-liulan"></i>280</span>
                            <span><i class="icon1-xiai" style="font-size:12px;"></i>2</span>
                        </div>
                    </div>
                </div>
                <div class="discuss-list-topic">
                    <div class="discuss-list-topic-avatar">
                        <a href="#"><img src="~/Content/Images/no-img.jpg" alt="" /></a>
                    </div>
                    <div class="discuss-list-topic-titles">
                        <div class="topic-title"><a href="#">[任务]顾家家居价格优势怎么来的？</a></div>
                        <div class="topic-info">
                            <a href="#">布袋和尚</a>
                            <span class="discuss-list-topic-date">9小时前</span>
                            <span><i class="icon1-liulan"></i>280</span>
                            <span><i class="icon1-xiai" style="font-size:12px;"></i>2</span>
                        </div>
                    </div>
                </div>
                <div class="discuss-list-topic">
                    <div class="discuss-list-topic-avatar">
                        <a href="#"><img src="~/Content/Images/no-img.jpg" alt="" /></a>
                    </div>
                    <div class="discuss-list-topic-titles">
                        <div class="topic-title"><a href="#">[任务]第六届浙交会要来了 今年主题跨境电商与服务</a></div>
                        <div class="topic-info">
                            <a href="#">布袋和尚</a>
                            <span class="discuss-list-topic-date">9小时前</span>
                            <span><i class="icon1-liulan"></i>280</span>
                            <span><i class="icon1-xiai" style="font-size:12px;"></i>2</span>
                        </div>
                    </div>
                </div>
                <div class="discuss-list-topic">
                    <div class="discuss-list-topic-avatar">
                        <a href="#"><img src="~/Content/Images/no-img.jpg" alt="" /></a>
                    </div>
                    <div class="discuss-list-topic-titles">
                        <div class="topic-title"><a href="#">[任务]第六届浙交会要来了 今年主题跨境电商与服务</a></div>
                        <div class="topic-info">
                            <a href="#">布袋和尚</a>
                            <span class="discuss-list-topic-date">9小时前</span>
                            <span><i class="icon1-liulan"></i>280</span>
                            <span><i class="icon1-xiai" style="font-size:12px;"></i>2</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="function-wrap">
        <div class="function-rw">
            <a href="#"><img src="~/Content/Images/rw.jpg" /></a>
        </div>
    </div>
    <div class="area-wrap">
        <div class="area-title">
            <img src="~/Content/Images/area-1.jpg" alt="" />
            <h4>区域板块</h4>
            <p>申请入住<br /><a href="#">等你来组织></a></p>
        </div>
        <div class="area-list">
            <div class="area-list-item">
                <div class="area-item-logo">
                    <img src="~/Content/Images/area-logo.png" alt="区域图标" />
                </div>
                <div class="area-item-info">
                    <h3>南京圈</h3>
                    <p>区域论坛介绍</p>
                    <a href="#">点击进入</a>
                </div>
            </div>
            <div class="area-list-item">
                <div class="area-item-logo">
                    <img src="~/Content/Images/area-logo.png" alt="区域图标" />
                </div>
                <div class="area-item-info">
                    <h3>海门圈</h3>
                    <p>区域论坛介绍</p>
                    <a href="#">点击进入</a>
                </div>
            </div>
            <div class="area-list-item">
                <div class="area-item-logo">
                    <img src="~/Content/Images/area-logo.png" alt="区域图标" />
                </div>
                <div class="area-item-info">
                    <h3>杭州圈</h3>
                    <p>区域论坛介绍</p>
                    <a href="#">点击进入</a>
                </div>
            </div>
        </div>
    </div>
</div>
