@{
    Layout = "~/views/shared/_layout.cshtml";
    ViewBag.Title = "电商圈-拉帮结派-发布任务";
    ViewBag.CssAppend = "<link href=\"/content/css/discuss.css\" type=\"text/css\" rel=\"stylesheet\"/>";
    ViewBag.CssAppend += "<link href=\"/content/fonts/category.css\" type=\"text/css\" rel=\"stylesheet\"/>";
}

<div class="forum-wrap">
    <div class="container">
        <div class="container-left forum-block fleft">
            <div class="crumbs-wrap">
                <a href="/">首页</a>&raquo;<a href="/forum/cliques">拉帮结派</a>&raquo;<span>发起任务</span>
            </div>
            <div class="input-box">
                <form name="form" method="post">
                    <p>
                        <b>标题:</b><input class="input-text" name="" type="text" data-hint="" data-required="true" />
                    </p>
                    <p>
                        <b>人数:</b><input class="input-text" name="" type="text" data-hint="" data-required="true" />
                    </p>
                    <p>
                        <b>主办方:</b><input class="input-text" name="" type="text" data-hint="" data-required="true" />
                    </p>
                    <p>
                        <b>内容:</b>
                        <textarea name="content" class="input-text"></textarea>
                    </p>
                    <p>

                    </p>
                </form>
            </div>
        </div>
        <div class="container-right fright">
            <div class="forum-r-item forum-block">
                <div class="forum-r-title">
                    <i></i><span>近期活动</span>
                </div>
                <ul>
                    <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                    <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                    <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                </ul>
            </div>

            <div class="forum-r-item forum-block">
                <div class="forum-r-title">
                    <i></i><span>热门活动</span>
                </div>
                <ul>
                    <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                    <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                    <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                </ul>
            </div>
            <div class="forum-r-banner">
                <a href="#"><img src="~/Content/Images/b-1.jpg" /></a>
            </div>
        </div>
    </div>
</div>
