@{
    Layout = "~/views/shared/_layout.cshtml";
    ViewBag.Title = "电商圈-拉帮结派-发布任务";
    ViewBag.CssAppend = "<link href=\"/content/css/discuss.css\" type=\"text/css\" rel=\"stylesheet\"/>";
    ViewBag.CssAppend += "<link href=\"/content/fonts/category.css\" type=\"text/css\" rel=\"stylesheet\"/>";
}

<div class="forum-wrap">
    <div class="container">
        <div class="container-left forum-block fleft">
            <div class="crumbs-wrap">
                <a href="/">首页</a>&raquo;<a href="/forum/cliques">拉帮结派</a>&raquo;<span>发起任务</span>
            </div>
            <div class="input-box">
                <form name="form" method="post" action="/forum/posttask">
                    <p>
                        <b>标题:</b><input class="input-text input-middle" placeholder="发布任务的标题" name="title" type="text" data-hint="" data-required="true" />
                    </p>
                    <p class="textarea-wrap">
                        <b>任务的详细描述:</b>
                        <textarea name="context" class="input-text" id="editor"></textarea>
                    </p>
                    <p>
                        <input type="submit" name="sub" value="发布任务" class="btn-sub" onclick="" />
                    </p>
                </form>
            </div>
        </div>
        <div class="container-right fright">
            <div class="forum-r-item forum-block">
                <div class="forum-r-title">
                    <i></i><span>近期活动</span>
                </div>
                <ul>
                    <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                    <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                    <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                </ul>
            </div>

            <div class="forum-r-item forum-block">
                <div class="forum-r-title">
                    <i></i><span>热门活动</span>
                </div>
                <ul>
                    <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                    <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                    <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                </ul>
            </div>
            <div class="forum-r-banner">
                <a href="#"><img src="~/Content/Images/b-1.jpg" /></a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/content/Ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    var editor = CKEDITOR.replace('editor');
</script>