@{
    Layout = "~/views/shared/_layout.cshtml";
    ViewBag.Title = "电商圈-";
    ViewBag.CssAppend = "<link href=\"/content/css/discuss.css\" type=\"text/css\" rel=\"stylesheet\"/>";
    ViewBag.CssAppend += "<link href=\"/content/fonts/category.css\" type=\"text/css\" rel=\"stylesheet\"/>";
}
<div class="forum-wrap">
    <div class="container">
        <div class="container-left forum-block fleft">
            <div class="crumbs-wrap">
                <a href="/">首页</a>&raquo;<a href="/forum/cliques">电商圈</a>&raquo;<span>任务</span>
            </div>
            <div class="topic-show">
                <div class="topic-s-title">
                    <h2>谁说实体店会下滑？阿里研究院关于传统零售业转型有8个观点</h2>
                    <p>来自:wesen 时间:2015年9月22日</p>
                </div>
                <div class="topic-s-text">
                    中国商业场所营业面积，总体呈现扩张态势。根据国家统计局的数据，除2012年略有下降外，我国商业用房面积保持正增长态势。2011年-2014年，商业营业用房销售面积分别增长12.6%、-1.4%、9.1%、7.2%。特别是2014年，在住宅、办公楼销售面积大幅下滑的情况下，商业营业用房逆势增长。从销售额看，社零总额也连续多年保持两位数增红杉中国与中国宽带产业投资基金将向这家总部位于旧金山的“分享经济”应用公司提供咨询，告诉它如何调整自身、以适应中国旅游市场。Airbnb表示相关的投资人伙伴将会帮助Airbnb深度开发中国市场，在中国建立一个“真正本地化的存
                </div>
                <div class="topic-s-task">
                    <div class="task-btn">
                        <span>我来帮他</span>
                    </div>
                    <div class="task-user">
                        目前参与此任务：<a href="#"><img src="~/Content/Images/no-img.jpg" /><span>@@wesen</span> </a><a href="#"><img src="~/Content/Images/no-img.jpg" /><span>@@ivan</span> </a>
                        <a href="#"><img src="~/Content/Images/no-img.jpg" /><span>@@jashon</span> </a><a href="#"><img src="~/Content/Images/no-img.jpg" /><span>@@nico</span> </a>
                    </div>
                </div>
                <div class="topic-s-reviews">
                    <div class="topic-s-reviews-title">
                        <span>3条回复</span>
                    </div>
                    <div class="topic-s-reviews-list">
                        <ul>
                            <li>
                                <div class="reviews-cover fleft">
                                    <a href="#"><img src="~/Content/Images/no-img.jpg" /></a>
                                </div>
                                <div class="reviews-content">
                                    <div class="reviews-info">
                                        <a href="#">wesen</a><span>2015年9月22日</span>
                                    </div>
                                    <div class="reviews-text">
                                        中国商业场所营业面积，总体呈现扩张态势。根据国家统计局的数据，除2012年略有下降外，我国中国商业场所营业面积，总体呈现扩张态势。根据国家统计局的数据，除2012年略有下降外，我国中国商业场所营业面积，总体呈现扩张态势。根据国家统计局的数据，除2012年略有下降外，我国中国商业场所营业面积，总体呈现扩张态势。根据国家统计局的数据，除2012年略有下降外，我国
                                    </div>
                                    <div class="reviews-btns">
                                        <a href="#">回复</a>
                                        <a href="#">赞</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="reviews-cover fleft">
                                    <a href="#"><img src="~/Content/Images/no-img.jpg" /></a>
                                </div>
                                <div class="reviews-content">
                                    <div class="reviews-info">
                                        <a href="#">wesen</a><span>2015年9月22日</span>
                                    </div>
                                    <div class="reviews-text">
                                        中国商业场所营业面积，总体呈现扩张态势。根据国家统计局的数据，除2012年略有下降外，我国中国商业场所营业面积，总体呈现扩张态势。根据国家统计局的数据，除2012年略有下降外，我国中国商业场所营业面积，总体呈现扩张态势。根据国家统计局的数据，除2012年略有下降外，我国中国商业场所营业面积，总体呈现扩张态势。根据国家统计局的数据，除2012年略有下降外，我国
                                    </div>
                                    <div class="reviews-btns">
                                        <a href="#">回复</a>
                                        <a href="#">赞</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="reviews-cover fleft">
                                    <a href="#"><img src="~/Content/Images/no-img.jpg" /></a>
                                </div>
                                <div class="reviews-content">
                                    <div class="reviews-info">
                                        <a href="#">wesen</a><span>2015年9月22日</span>
                                    </div>
                                    <div class="reviews-text">
                                        中国商业场所营业面积，总体呈现扩张态势。根据国家统计局的数据，除2012年略有下降外，我国中国商业场所营业面积，总体呈现扩张态势。根据国家统计局的数据，除2012年略有下降外，我国中国商业场所营业面积，总体呈现扩张态势。根据国家统计局的数据，除2012年略有下降外，我国中国商业场所营业面积，总体呈现扩张态势。根据国家统计局的数据，除2012年略有下降外，我国
                                    </div>
                                    <div class="reviews-btns">
                                        <a href="#">回复</a>
                                        <a href="#">赞</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="topic-s-reviews-editor">
                        <h3>评论</h3>
                        <form name="form" method="post">
                            <input id="editor" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-right fright">
            <div class="forum-r-item forum-block">
                <div class="forum-r-title">
                    <i></i><span>近期活动</span>
                </div>
                <ul>
                    <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                    <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                    <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                </ul>
            </div>

            <div class="forum-r-item forum-block">
                <div class="forum-r-title">
                    <i></i><span>热门活动</span>
                </div>
                <ul>
                    <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                    <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                    <li><a href="#">店铺被引入垃圾流量，该怎么处理？</a></li>
                </ul>
            </div>
            <div class="forum-r-banner">
                <a href="#"><img src="~/Content/Images/b-1.jpg" /></a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/content/Ckeditor-Base/ckeditor.js"></script>
<script type="text/javascript">
    var editor = CKEDITOR.replace('editor');
</script>