@{
    Layout = "~/views/shared/_layout.cshtml";
    ViewBag.Title = "异常错误";
}
<div class="forum-wrap">
    <div class="container form-block" style="padding:100px 0;font-size:15px;">
        <div style="text-align:center;"><span>操作发生异常，请重试。您可以<a href="window.history.go(-1)">点击返回</a>，进行重新操作！</span></div>
    </div>
</div>