@{
    Layout = "~/views/shared/_layout.cshtml";
    ViewBag.Title = "审核未通过！";
}
<div class="forum-wrap">
    <div class="container form-block" style="padding:100px 0;font-size:15px;">
        <div style="text-align:center;"><span>您查看的内容暂时未通过审核。您可以<a href="window.history.go(-1)">点击返回</a>！</span></div>
    </div>
</div>