@{
    Layout = "~/views/shared/_layout.cshtml";
    ViewBag.Title = "该功能正在紧张的开发中，相信不会让您久等的！！";
}
<div class="forum-wrap">
    <div class="container form-block" style="padding:100px 0;font-size:15px;">
        <div style="text-align:center;"><span>该功能正在紧张的开发中，相信不会让您久等的！！您可以浏览其他的网页哦！<a href="window.history.go(-1)">点击返回</a></span></div>
    </div>
</div>