@{
    BaWuClub.Web.Dal.User user = (BaWuClub.Web.Dal.User)ViewBag.User;
    var intro = user.Intro;
}

<div class="member-top">
    <div class="member-cover fleft">
        @{
            if (!string.IsNullOrEmpty(user.Cover)) { 
              <img src="/uploads/avatar/small/@user.Cover" alt="" />      
            }     
            else{                
                <img src="~/content/images/no-img.jpg" alt="member cover" />  
            }
        }
    </div>
    <div class="member-text fleft">
        <div class="member-name">
            <span>@user.NickName</span>
            <p>@intro</p>
        </div>
    </div>
    <div class="member-force">目前积分:@user.Points</div>
</div>
<div class="member-title">
    <a href="/member/u-@user.Id/Show">资料</a>
    <a href="/member/u-@user.Id/contributelist">投稿</a>
    <a href="/member/u-@user.Id/askandanswer">问答</a>
    <a href="/member/u-@user.Id/certification">认证</a>
    <a href="/member/u-@user.Id/shared">共享</a>
    <a href="/member/u-@user.Id/discuss">论坛</a>
    <a href="/member/u-@user.Id/message">私信</a>
</div>
