@model  IEnumerable<BaWuClub.Web.Dal.TopicIndex>

<div class="forum-r-item forum-block">
    <div class="forum-r-title">
        <i></i><span>热门帖子</span>
    </div>
    <ul>
        @{
            if (Model != null) {
                foreach (var item in Model) { 
                    <li><a href="/forum/topic/@item.Id">@item.Title</a></li>
                }
            }
        }
    </ul>
</div>