<span class="sns-share">
    <a href="" target="_blank" title="weibo" class="icon1-snsshareweiboon" data-cmd="sina"></a>
    <a href="" target="_blank" title="qq zone" class="icon1-snsshareqzon" data-cmd="qzone"></a>
    <a href="" target="_blank" title="douban" class="icon1-snssharedoubanon" data-cmd="douban"></a>
    <a href="" target="_blank" title="renren" class="icon1-snssharerenrenon" data-cmd="renren"></a>
</span>
<script src="~/Content/Scripts/share.js"></script>