@{
    Layout = "~/views/shared/_layout.cshtml";
    ViewBag.Title = "下载中心-";
    ViewBag.CssAppend = "<link href=\"/content/css/download.css\" type=\"text/css\" rel=\"stylesheet\"/>";
    ViewBag.CssAppend += "<link href=\"/content/fonts/category.css\" type=\"text/css\" rel=\"stylesheet\"/>";
}
<div class="download-wrap">
    <div class="doc-search-wrap">
        <div class="doc-search">
            <input name="search" type="text" class="" placeholder="搜索您需要的文档吧" /><a href="#" class="iconfont icon1-sousuo"></a>
        </div>
        <div class="doc-hot-search">
            <span>热门搜索:</span><a href="#">推广</a><a href="#">运营</a><a href="#">设计</a><a href="#">测试</a>
        </div>
    </div>
    <div class="container">
        <div class="container-left download-block fleft">
            <div class="download-title">
                <div class="download-info">
                    <h3>资料文档下载</h3>
                    <p><span>今日新增:124</span><span>全部下载:53056</span></p>
                </div>
            </div>
            <div class="download-sort">
                <div class="fleft">全部文档</div>
                <div class="sort-btns fright">
                    <a href="#"><i class="iconfont icon1-paixu"></i>推荐</a>
                    <a href="#"><i class="iconfont icon1-paixu"></i>下载量</a>
                    <a href="#"><i class="iconfont icon1-paixu"></i>浏览量</a>
                    <a href="#"><i class="iconfont icon1-paixu"></i>上传日期</a>
                </div>
            </div>
            <div class="download-list">
                <div class="download-file-item">
                    <div class="file-type fleft">
                        <span class="icon-pdf"></span>
                    </div>
                    <div class="file-content">
                        <div class="file-title">
                            <a href="#">pearson分布混响背景下osgo和osso检测器设计</a>
                        </div>
                        <div class="file-desc">
                            器设计pearson分布混响背景下osgo和osso检测器设计pearson分布混响背景下osgo和osso检测器设计
                        </div>
                        <div class="file-info">
                            <a href="#">wesen</a>
                            <span>上传时间2015-04-19</span>
                            <i></i><a href="">运营</a><a href="">客服</a>
                        </div>
                    </div>
                </div>
                <div class="download-file-item">
                    <div class="file-type fleft">
                        <span class="icon-pdf"></span>
                    </div>
                    <div class="file-content">
                        <div class="file-title">
                            <a href="#">pearson分布混响背景下osgo和osso检测器设计</a>
                        </div>
                        <div class="file-desc">
                            器设计pearson分布混响背景下osgo和osso检测器设计pearson分布混响背景下osgo和osso检测器设计
                        </div>
                        <div class="file-info">
                            <a href="#">wesen</a>
                            <span>上传时间2015-04-19</span>
                            <i></i><a href="">运营</a><a href="">客服</a>
                        </div>
                    </div>
                </div>
                <div class="download-file-item">
                    <div class="file-type fleft">
                        <span class="icon-pdf"></span>
                    </div>
                    <div class="file-content">
                        <div class="file-title">
                            <a href="#">pearson分布混响背景下osgo和osso检测器设计</a>
                        </div>
                        <div class="file-desc">
                            器设计pearson分布混响背景下osgo和osso检测器设计pearson分布混响背景下osgo和osso检测器设计
                        </div>
                        <div class="file-info">
                            <a href="#">wesen</a>
                            <span>上传时间2015-04-19</span>
                            <i></i><a href="">运营</a><a href="">客服</a>
                        </div>
                    </div>
                </div>
                <div class="download-file-item">
                    <div class="file-type fleft">
                        <span class="icon-pdf"></span>
                    </div>
                    <div class="file-content">
                        <div class="file-title">
                            <a href="#">pearson分布混响背景下osgo和osso检测器设计</a>
                        </div>
                        <div class="file-desc">
                            器设计pearson分布混响背景下osgo和osso检测器设计pearson分布混响背景下osgo和osso检测器设计
                        </div>
                        <div class="file-info">
                            <a href="#">wesen</a>
                            <span>上传时间2015-04-19</span>
                            <i></i><a href="">运营</a><a href="">客服</a>
                        </div>
                    </div>
                </div>
                <div class="download-file-item">
                    <div class="file-type fleft">
                        <span class="icon-pdf"></span>
                    </div>
                    <div class="file-content">
                        <div class="file-title">
                            <a href="#">pearson分布混响背景下osgo和osso检测器设计</a>
                        </div>
                        <div class="file-desc">
                            器设计pearson分布混响背景下osgo和osso检测器设计pearson分布混响背景下osgo和osso检测器设计
                        </div>
                        <div class="file-info">
                            <a href="#">wesen</a>
                            <span>上传时间2015-04-19</span>
                            <i></i><a href="">运营</a><a href="">客服</a>
                        </div>
                    </div>
                </div>
                <div class="download-file-item">
                    <div class="file-type fleft">
                        <span class="icon-pdf"></span>
                    </div>
                    <div class="file-content">
                        <div class="file-title">
                            <a href="#">pearson分布混响背景下osgo和osso检测器设计</a>
                        </div>
                        <div class="file-desc">
                            器设计pearson分布混响背景下osgo和osso检测器设计pearson分布混响背景下osgo和osso检测器设计
                        </div>
                        <div class="file-info">
                            <a href="#">wesen</a>
                            <span>上传时间2015-04-19</span>
                            <i></i><a href="">运营</a><a href="">客服</a>
                        </div>
                    </div>
                </div>
                <div class="download-file-item">
                    <div class="file-type fleft">
                        <span class="icon-pdf"></span>
                    </div>
                    <div class="file-content">
                        <div class="file-title">
                            <a href="#">pearson分布混响背景下osgo和osso检测器设计</a>
                        </div>
                        <div class="file-desc">
                            器设计pearson分布混响背景下osgo和osso检测器设计pearson分布混响背景下osgo和osso检测器设计
                        </div>
                        <div class="file-info">
                            <a href="#">wesen</a>
                            <span>上传时间2015-04-19</span>
                            <i></i><a href="">运营</a><a href="">客服</a>
                        </div>
                    </div>
                </div>
                <div class="download-file-item">
                    <div class="file-type fleft">
                        <span class="icon-pdf"></span>
                    </div>
                    <div class="file-content">
                        <div class="file-title">
                            <a href="#">pearson分布混响背景下osgo和osso检测器设计</a>
                        </div>
                        <div class="file-desc">
                            器设计pearson分布混响背景下osgo和osso检测器设计pearson分布混响背景下osgo和osso检测器设计
                        </div>
                        <div class="file-info">
                            <a href="#">wesen</a>
                            <span>上传时间2015-04-19</span>
                            <i></i><a href="">运营</a><a href="">客服</a>
                        </div>
                    </div>
                </div>
                <div class="download-file-item">
                    <div class="file-type fleft">
                        <span class="icon-pdf"></span>
                    </div>
                    <div class="file-content">
                        <div class="file-title">
                            <a href="#">pearson分布混响背景下osgo和osso检测器设计</a>
                        </div>
                        <div class="file-desc">
                            器设计pearson分布混响背景下osgo和osso检测器设计pearson分布混响背景下osgo和osso检测器设计
                        </div>
                        <div class="file-info">
                            <a href="#">wesen</a>
                            <span>上传时间2015-04-19</span>
                            <i></i><a href="">运营</a><a href="">客服</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-right fright">
            <div class="uplaod-doc download-block">
                <p>
                    <a href="#" class="up-btns btns-bg"></a>
                </p>
                <p>已有123,456份文档</p>
            </div>
            <div class="down-login download-block">
                <div class="down-login-title">八五电商登录账号</div>
                <div class="down-login-form">
                    <div class="down-login-input"><label class="iconfont icon1-yonghu" for="down-login-user"></label><input id="down-login-user" name="user" type="text" placeholder="用户名" class=""/></div>
                    <div class="down-login-input"><label class="iconfont icon1-mima" for="down-login-password"></label><input id="down-login-password" name="password" type="text" placeholder="密码" class="" /></div>
                    <div class="down-login-other"><a href="#">忘记密码</a>|<a href="#">立即注册</a></div>
                    <div class="down-login-btn">
                        <input name="btn" type="button" class="btns-bg down-login-btns" />
                    </div>
                </div>
            </div>
            <div class="down-ranks download-block">
                <div class="down-ranks-title">
                    <i class="iconfont icon1-xiazai"></i>下载排行
                </div>
                <div class="down-ranks-list">
                    <ol>
                        <li><p><a href="#">搜索流量解析与优化</a><span>下载:12345</span></p></li>
                        <li><p><a href="#">搜索流量解析与优化</a><span>下载:12345</span></p></li>
                        <li><p><a href="#">搜索流量解析与优化</a><span>下载:12345</span></p></li>
                        <li><p><a href="#">搜索流量解析与优化</a><span>下载:12345</span></p></li>
                        <li><p><a href="#">搜索流量解析与优化</a><span>下载:12345</span></p></li>
                        <li><p><a href="#">搜索流量解析与优化</a><span>下载:12345</span></p></li>
                        <li><p><a href="#">搜索流量解析与优化</a><span>下载:12345</span></p></li>
                        <li><p><a href="#">搜索流量解析与优化</a><span>下载:12345</span></p></li>
                        <li><p><a href="#">搜索流量解析与优化</a><span>下载:12345</span></p></li>
                        <li><p><a href="#">搜索流量解析与优化</a><span>下载:12345</span></p></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>