@{
    Layout = "~/views/shared/_layoutmember.cshtml";
    ViewBag.Title = "个人用户中心-";
    BaWuClub.Web.Dal.User user = (BaWuClub.Web.Dal.User)ViewBag.User;
}
@model IEnumerable<BaWuClub.Web.Dal.Question>
         
    <div class="member-main">
        <div class="member-menu">
            <a class="selected" onclick="baseload('/member/u-@user.Id/getlist?st=0&tstr=ask&page=1')">我提出问题</a>
            <a onclick="baseload('/member/u-@user.Id/getlist?st=0&tstr=column&page=1')">参与的回答</a>
        </div>
        <div class="member-main-wrap fleft">
            <div class="member-menu-right-list member-list-wrap">
                <ul>

                </ul>
            </div>
            <div class="page-wrap">
            </div>
        </div>
    </div>
<script type="text/javascript" src="~/content/scripts/jquery.js"></script>
<script type="text/javascript" src="~/content/scripts/member.js"></script>
<script type="text/javascript">
    baseload('/member/u-@user.Id/getlist?st=0&tstr=ask&page=1');
    function baseload(url) {
        loadonpage(url);
    }
</script>