@{
    Layout = "~/views/shared/_layoutmember.cshtml";
    ViewBag.Title = "个人用户中心-";
    BaWuClub.Web.Dal.User user = (BaWuClub.Web.Dal.User)ViewBag.User;
}

@model IEnumerable<BaWuClub.Web.Dal.Answer>
<div class="member-title">
    <a href="/member/u-@user.Id/Show">资料</a>
    <a href="/member/u-@user.Id/contributelist">投稿</a>
    <a href="/member/u-@user.Id/askandanswer">问答</a>
    <a href="/member/u-@user.Id/certification" class="selected">认证</a>
    <a href="/member/u-@user.Id/shared">共享</a>
    <a href="/member/u-@user.Id/discuss">论坛</a>
    <a href="/member/u-@user.Id/message">私信</a>
</div>
<div class="member-main">
    <div class="member-main-wrap">
        <div class="member-certification">

        </div>
        <div class="member-explain-desc">
            @Html.Raw(ViewBag.CertificationDesc)
        </div>
    </div>
</div>
<script type="text/javascript" src="~/content/scripts/jquery.js"></script>
<script type="text/javascript" src="~/content/scripts/member.js"></script>