@{
    Layout = "~/views/shared/_layoutmember.cshtml";
    BaWuClub.Web.Dal.User user = (BaWuClub.Web.Dal.User)ViewBag.user;
    BaWuClub.Web.Dal.User userAuthorize = (BaWuClub.Web.Dal.User)ViewBag.userAuthorize;
    ViewBag.Title = user.NickName + "的个人用户中心-帖子修改";

}
@{
    var topic =ViewBag.topic as BaWuClub.Web.Dal.TopicIndex;
    string action = "",context="";
    action = topic.Topic != null ? "/member/topicmodify" : topic.TopicActivity != null ? "/member/topicactivitymodify" : "/member/topictaskmodify";
    context = topic.Topic != null ? topic.Topic.Context : topic.TopicActivity != null ? topic.TopicActivity.Context : topic.TopicTask.Context;
}
<div class="member-main">
    <div class="member-topic">
        <div class="member-main-wrap">
            <div class="input-box">
                <form name="form" method="post" action="@action" onsubmit="SetEditorValue(); return checkSubmit(this);">
                    <label id="tips-wrap" style="color:red;"></label>
                    <input type="hidden" value="@topic.Id" name="id" />
                    <p><b>标题：</b><input name="title" value="@topic.Title" class="input-text" type="text" data-hint="标题不能为空！" data-required="true" /></p>
                    <div class="input-box-ha">
                        <b>详情：</b>
                        <textarea name="context" class="input-textarea" id="editor">@context</textarea>
                    </div>
                    <p>
                        <b>&nbsp;</b><input type="submit" value="提交" class="btn-sub" />
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/content/scripts/jquery.js"></script>
<script type="text/javascript" src="~/content/scripts/member.js"></script>
<script type="text/javascript" src="~/content/ckeditor-full/ckeditor.js"></script>
<script type="text/javascript">
    var editor = CKEDITOR.replace('editor');
    function SetEditorValue() {
        var context = editor.document.getBody().getHtml(); //头像的上传与投稿冲突
        var textarea = document.getElementsByTagName("textarea")[0];
        textarea.value = context;
    }
</script>