@{
    Layout = "~/views/shared/_layoutmember.cshtml";
    BaWuClub.Web.Dal.User userAuthorize = (BaWuClub.Web.Dal.User)ViewBag.userAuthorize;
    BaWuClub.Web.Dal.User user = (BaWuClub.Web.Dal.User)ViewBag.user;
    ViewBag.Title = user.NickName + "的个人用户中心-验证账号";
}

<div class="member-main">
    <div class="member-ask">
        <div class="member-main-wrap">
                @{
                    if (user.Membership == (byte)BaWuClub.Web.Dal.UserType.Auth)
                    {
                        <div class="verify-succeed-wrap">
                            <i class="succeed-bg"></i>
                            <p><span>手机验证成功!号码:@user.Phone</span></p>
                        </div>
                    }
                    else
                    {
                        <div class="input-box">
                            <form name="form" action="/member/SetVerifyPhone" method="post" onsubmit="return checksubmitverify(this);">
                                <label id="tips-wrap" style="color:red;">@Html.Raw(ViewBag.hintStr)</label>
                                <p><b>手机号：</b><input name="phone" id="phone" value="@user.Phone" class="input-text input-small" type="text" data-hint="手机号不能为空！" data-required="true" /></p>
                                <p><b>验证码：</b><input name="code" id="code" value="" class="input-text input-small" type="text" data-hint="验证码也不能为空！" data-required="true" /><input name="" onclick="getverfycode();" class="btn-verfy" type="button" value="获取验证码" /></p>
                                <p>
                                    <b>&nbsp;</b><input type="submit" value="验证" class="btn-sub" />
                                </p>
                            </form>
                        </div>
                    }}
        </div>
    </div>
</div>

<script type="text/javascript" src="~/content/scripts/jquery.js"></script>
<script type="text/javascript" src="~/content/scripts/member.js"></script>